<div class="container">
                <div class="form">
                <h1>Contact us</h1>
                    <form>
                       <div class="textforms clearfix">
                        <input type="text" name="name" id="fullName" placeholder="Full Name">
                        <input type="email" name="email" id="email" placeholder="Email">
                        <input type="text" name="subject" id="subject" placeholder="Subject">
                        </div>
                        <textarea name="comments" id="comments"  rows="5" placeholder="Comments"></textarea>
                        <input type="submit" id="send" name="SEND" value="SEND">
                    </form>
                    <div class="feedback">
                        
                    </div>
                </div>