<div class="container clearfix">
    <div class="article clearfix">
        <h2>The Value of Money</h2>
        <figure> <img src="./img/earth.png" alt="GMO"> </figure>
        <p>Money is a such a crucial part of our society now a days. Capitalism is our new religion, we kneel at the alters of this brand and that but to the determinte of what? There is this inherent sense of fairness  found in humans everywhere, but that studies show that it’s less pronounced in environments where people are exposed to a lot of marketing. Capitalist, consumer culture inures us to unfairness. We need unity and togetherness not to inhance the feelings of individuality. We are all connected we are all one and we need to come together to better this earth not distroy it. </p>
    </div>
    <div class="article lg-two-col">
        <h2>GMO food</h2>
        <p> GMO food's scare me, companies like Monsantos scare me. If you ever get the change to watch the documentry seeds its a very good documentry on the reality of what companies like monsantos are doing.  Navdanya is a activist from indian who is doing great work to try and stop GMO foods from taking over. Navdanya is actively involved in the rejuvenation of indigenous knowledge and culture. It has created awareness on the hazards of genetic engineering, defended people's knowledge from biopiracy and food rights in the face of globalisation and climate change.  </p>
        
    </div>
    <div class="article lg-two-col">
        <h2>The View of World in 2100</h2>
        <p> " If you asked me in 50 years, it would be a difficult question, but 300 years, it's a very easy question. In 300 years, Homo sapiens will not be the dominate life form on Earth, if we exist at all. Given the current pace of technological development, it is possible we destroy ourselves in some ecological or nuclear calamity. The more likely possibility is that we will use bioengineering and machine learning and artificial intelligence either to upgrade ourselves into a totally different kind of being or to create a totally different kind of being that will take over.In any case, in 200 or 300 years, the beings that will dominate the Earth will be far more different from us than we are different from Neanderthals or from chimpanzees".</p>
        <p>http://www.vox.com/2017/3/27/14780114/yuval-harari-ai-vr-consciousness-sapiens-homo-deus-podcast</p>
        
    </div>
</div>